.experience-icon {
    height: 65px;
    border-radius: 50%;
}

.experience-header {
    text-align: center;
    font-size: 40px;
}

.experience {
    text-align: center;
}

.experience-date {
    display: block;
    color: #b9b9b9;
    font-size: 22px;
}

.experience-details {
    display: block;
    font-weight: 300;
}

.experience-title {
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}

.experience-separator {
    height: 50px;
    width: 3px;
    text-align: center;
    background: white;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.experience-company {
    font-size: 25px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .experience-company {
        font-size: 26px;
    }
    .experience-title {
        font-size: 24px;
    }
    .experience-date {
        font-size: 20px;
    }
}