@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background: #0a2146;
    font-family: 'Source Sans Pro', serif;
    margin: 0px;
    color: white;
    overflow-x: hidden;
}

body * {
    font-family: 'Source Sans Pro', serif;
}

.container {
    position: relative;
    margin-bottom: 150px;
}

.header-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #6bea7c;
    margin-left: 2px;
}

p {
    margin: 0;
}

a {
    font-weight: 500;
    color: white;
    transition: color 0.25s;
}

a:hover {
    color: #6bea7c;
}

.animate__animated {
    animation-fill-mode: forwards !important;
}

#header, #home, #about, #experience, #education, #projects, #contact {
    opacity: 0;
}