.projects-header {
    text-align: center;
    font-size: 50px;
}

.projects-list {
    border-radius: 20px;
    box-shadow: 5px 10px 25px #000000;
}

.accordion {
    cursor: pointer;
    padding: 20px 30px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 28px;
    transition: 0.5s;
    text-align: center;
    background: #00c3ff;
    color: white;
    font-weight: 300;
    border-bottom: 1px solid #252525;
}

.accordion.active {
    background: #252525;
}

.accordion i {
    float: right;
    font-size: 22px;
}

.accordion i.flipped {
    transform: rotate(180deg);
}

.accordion.first {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.accordion.last {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.accordion:hover {
    background-color: #252525;
}

.panel {
    padding: 0px 25px;
    background-color: #252525;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-out, padding 500ms ease-out;
    font-weight: 200;
    font-size: 20px;
}

.active + .panel {
    padding: 20px 25px;
    padding-top: 0px;
}

.panel img {
    width: 100%;
    border-radius: 10px;
    margin: 25px 0px;
}

.panel h3 {
    font-weight: 500;
}

.panel ul {
    padding: 0px;
    list-style-position: inside;
}