.about-header {
    font-size: 50px;
    text-align: center;
}

.about-header .header-dot {
    margin-left: 5px;
}

.bitmoji-waving {
    border: 2px solid white;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    box-shadow: 5px 10px 25px #000000;
}

.about-text-container {
    margin-left: 50px;
    background-color: #FF4C60;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 5px 10px 25px #000000;
    min-width: 250px;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-text {
    font-weight: 300;
    font-size: 20px;
}

.tech-content {
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-container {
    background: #302f4e;
    flex-basis: 25%;
    border-radius: 20px;
    margin: 0px 15px;
    box-shadow: 0px 10px 50px black;
    flex-grow: 1;
}

.tech-container ul {
    padding: 0px;
    list-style: none;
    text-align: center;
}

.tech-container li {
    font-weight: 300;
    font-size: 20px;
    margin: 10px 0px;
}

.tech-header {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 26px;
}

.tech-icon {
    height: 60px;
    margin: 0 auto;
    display: block;
}

.client-content {
    display: flex;
    margin-top: 40px;
    background: white;
    color: black;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 5px 10px 25px #000000;
    justify-content: center;
    flex-wrap: wrap;
}

.client-header {
    margin-top: 0px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 0px;
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 26px;
}

.client-header::after {
    content: '';
    display: block;
    height: 1px;
    width: 40%;
    background: black;
    margin: 0 auto;
    margin-top: 10px;
}

.client {
    flex-basis: 20%;
    text-align: center;
    margin-bottom: 10px;
}

.client-logo {
    height: 45px;
    width: auto;
}

@media only screen and (max-width: 1200px) {
    .client {
        flex-basis: 25%;
    }
    .about-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-text-container {
        margin-top: 25px;
        margin-left: 0px;
        min-width: 0px;
    }
    .about-text {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .client {
        flex-basis: 30%;
        margin-bottom: 5px;
    }
    .client-logo {
        height: 30px;
    }
    .tech-container {
        flex-basis: 100%;
        margin: 15px 15%;
    }
    .tech-content {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .client-content {
        margin-top: 15px;
    }
}