.contact-header {
    font-size: 40px;
    text-align: center;
}

.bitmoji-questions {
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.have-questions {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
}

.get-in-touch {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.contact-buttons {
    text-align: center;
}

.email-button, .linkedin-button {
    background: #be4058;
    color: white;
    display: block;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 600;
    padding: 15px 35px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 5px 5px #000000;
    margin: 25px auto;
}

.contact-separator {
    width: 100px;
    height: 1px;
    background: white;
    margin: 0px auto;
    margin-bottom: 25px;
}

.email-button:hover, .linkedin-button:hover {
    animation: zoom-out-in 350ms forwards;
}

@keyframes zoom-out-in {
    35% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}